# # # # # # # # # # # # # # # # # # # # # # # # # # #
#    ___ _____  __  _    ___ ___   _   _____   __   #
#   | __/ __\ \/ / | |  | __/ __| /_\ / __\ \ / /   #
#   | _|\__ \>  <  | |__| _| (_ |/ _ \ (__ \ V /    #
#   |___|___/_/\_\ |____|___\___/_/ \_\___| |_|     #
#                                                   #
#    Discord: https://discord.gg/esx-framework      #
#    Website: https://esx-framework.org/            #
# # # # # # # # # # # # # # # # # # # # # # # # # # #
#    Fait par: server-host >                        #
#    Discord: https://discord.com/invite/gdVc4V83pB #
#    Site   : https://server-host.fr/               #
# # # # # # # # # # # # # # # # # # # # # # # # # # #

# --- RÉSEAU & CONNEXION ---
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_enforceGameBuild 3751
sv_maxclients 10

# --- IDENTITÉ & AFFICHAGE ---
sv_hostname "server-host.fr"

sets sv_projectName "Server-Host.fr"
sets sv_projectDesc "Template de développement voir + d'info sur discord"

load_server_icon myLogo.png

sets banner_detail "https://i.ibb.co/Njw8N7T/350kb.gif"
sets banner_connecting "https://i.ibb.co/Njw8N7T/350kb.gif"

sets Discord "https://discord.gg/gdVc4V83pB"
sets Etat "En Développement"
sets convar_name "server-host.fr"
sets Développeur "Mime"

sets locale "fr-FR"
sets tags "esx, roleplay, deployer, rp, police, legacy, drugs, esx legacy, ems, official, cars, custom, jobs, serious, gangs, economy, discord, custom cars, lspd, serious rp, fivem, fun, seriousrp, realife, cops, racing, onesync, realistic, whitelist, fr, gang, custom scripts, customcars, mafia, mechanic, eup, vmenu, life, drifting, france, pvp, doj"

# --- BASE DE DONNÉES ---
set mysql_connection_string "mysql://root:@localhost:3306/es_extended"
set mysql_ui true
set mysql_connection_pooling true
set mysql_limit_concurrency 20
set mysql_preparedStatementCacheSize 256
set mysql_transaction_isolation_level 2

# --- ONESYNC & OPTIMISATION ---
set onesync on
set onesync_enabled 1
set onesync_enableInfinity true
set onesync_distanceCulling true
set onesync_distanceCullVehicles true
set onesync_forceMigration true
set onesync_workaround763185 true

set socket_bloom_filter false
set net_tcpConnLimit 128
sv_network_compression_threshold 1024
set sv_statsEnabled false
setr r_ext_streamingPoolSize 2048
set sv_enableNetworkedSounds false

# --- SÉCURITÉ ---
sv_forceIndirectListing false
set sv_useDirectListing true
set sv_listingIpOverride ""
sv_endpointprivacy true

sv_scriptHookAllowed 0
sv_requestParanoia 3
sv_authMinTrust 4

# --- PERMISSIONS ---
add_principal group.admin group.user
add_ace group.admin command allow
add_ace group.admin command.quit deny

add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow

# --- RESSOURCES (Exec) ---
setr illenium-appearance:locale "fr"

exec @vMenu/config/permissions.cfg
exec @pmms/permissions.cfg

exec resources.cfg

# --- CLÉS ---
set steam_webApiKey none
sv_licenseKey ""